<!-- ============================================
      =                   Header                  =
      ============================================= -->
<header id="header">


  <div class="bg-fixed"></div>
  <div class="bg-absolute"></div>


  <aside id="main-menu">
    <!-- Logo -->
    <img src="/assets/images/logo-mobile.svg"
         alt="logo del sitio web">

    <!-- Mobile Nabvar Button -->
    <div class="icon-group-main-menu">



      
      <a class="icon-hamburger"
         href="#main-menu"
         id="menu-button">
        <span></span>
      </a>

      <a class="icon-close"
         href="#header">
      </a>
    </div>
  </aside>

  <!-- Navbar -->
  <nav id="menu">
    <ul>
      <li>
        <a href="#home">
          HOME
        </a>
      </li>
      <li>
        <a href="#music">
          MUSIC
        </a>
      </li>
      <li>
        <a href="#did-you-know">
          DID YOU KNOW?
        </a>
      </li>
      <li>
        <a href="#photos">
          PHOTOS
        </a>
      </li>
      <li>
        <a href="#known-for">
          KNOWN FOR
        </a>
      </li>
      <li>
        <a href="#last-news">
          NEWS
        </a>
      </li>
    </ul>
  </nav>
</header>